<div>
  <div class='card'>
    <div class='card-header'>
      {{title}}
    </div>
    <div class='card-body'>
      <h5 class='card-title'>Created by
        {{user.name}}
        on
        {{formatDate date_created}}</h5>
      <p class='card-text'>{{content}}</p>

    </div>
  </div>

  {{#each comments as |comment|}}
    <div class='card'>
      <div class='card-header'>
      </div>
      <div class='card-body'>

        <p class='card-text'>{{comment.content}}</p>
        <p>
          -
          {{comment.user.name}}
          {{formatDate comment.date_created}}</p>
      </div>
    </div>

  {{/each}}

  {{#if logged_in}}
    <div class='card'>
      <div class='card-header'>Add A Comment</div>
      <div class="'card-body">
        <form class='comment-form'>
          <div class='mb-3'>
            <label for='comment' class='form-label'>Comment</label>
            <textarea class='form-input' id='comment' name='comment'></textarea>
          </div>
          <button type='submit' class='btn btn-primary'>Submit</button>

        </form>
      </div>

    </div>

  {{/if}}

</div>

<script src='/js/comment.js'></script>