<h4>{{name}}'s Dashboard</h4>

<div id='myBlogsList' class='visible'>

  {{#each blogs as |blog|}}
    <div class='m-3'>
      <a href='/dashboard/blog/{{blog.id}}'><div class='card myBlogs'>
          <div class='btn btn-secondary d-flex justify-content-between'>
            <h3>{{blog.title}}</h3>
            <h5>Created on:
              {{formatDate blog.date_created}}</h5>

          </div>

          {{!-- <div class='card-header'>
            <p>
              {{blog.title}}

              Created on:
              {{formatDate blog.date_created}}
            </p>
          </div> --}}
        </div>
      </a>
    </div>

  {{/each}}

</div>
<div class='d-flex justify-content-center'>
  <button
    type='button'
    class='btn btn-primary btn-lg'
    id='newPostButton'
    href='/dashboard/new'
  >+ New Post</button>
</div>

<script src='/js/dashboard.js'></script>